/* File: frontend/styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    background-color: #35424a;
    color: #ffffff;
    padding: 20px;
    margin: 0;
    text-align: center;
}

h2 {
    margin-left: 32px;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #e2e2e2;
}


.search-container input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    width: 200px;
}

.search-container button {
    padding: 10px;
    border: none;
    background-color: #35424a;
    color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
}

.search-container button:hover {
    background-color: #45a049;
}

#bar-list {
    padding: 20px;
    list-style-type: none;
    width: 30%;
    overflow-y: auto;
    background-color: white;
    margin-left: 10px;
}

.main-container {
    display: flex;
    height: 80vh;
    border: 1px solid #ccc;
}

#city-btn, #reset-btn {
    margin-left: 10px;
}

#login-and-create-btn button{
    padding: 10px;
    background-color: #35424a;
    color: #ffffff;
    cursor: pointer;
    margin-right: 2px;
    text-decoration: none;
}

a {
    color: white;
}

.main-login-container {
    background-color: #e2e2e2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-credentials {
    border: solid 2px;
    height: 30vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient*/
    background: linear-gradient(#e66465, #9198e5);
}

.login-credentials h1 {
    margin-bottom: 35px;
}

.login-credentials input {
    display: flex;
    height: 2em;
    text-align: left;
    margin-bottom: 2em;
    padding: 1px;
}


#map {
    flex-grow: 1;
    height: 100%;
}

    /* til mindre skærme */
    @media screen and (min-width: 768px) {
        .search-container input {
            width: 300px;
        }
    }
